.form {
  display: flex;
  margin: auto;
  margin-top: 32px;
  flex-direction: column;
  padding: 16px;
  width: 350px;
  border: 1px solid rgb(234, 229, 246);
  border-radius: 8px;
  background-color: var(--background-col);
}

.form-description {
  color: grey;
  font-size: 16px;
  width: auto;
  text-wrap: wrap;
  margin-bottom: 24px;
  margin-top: 0px;
}

.form > h1 {
  font-size: 24px;
  font-weight: 500;
  margin: 0px;
  margin-bottom: 0px;
}

.form-label > input,
select {
  border: 1px solid rgb(193, 189, 205);
  font-size: var(--body14px);
  border-radius: 4px;
  padding: 8px 4px 8px 4px;
  width: 100%;
  max-width: 100%;
  margin: 0;
  box-sizing: border-box;
}

.form-label {
  font-size: var(--body14px);
  font-weight: 500;
  text-transform: capitalize !important;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 8px;
}

.form-button {
  padding: 8px 16px 8px 16px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  color: white;
  font-size: 16px;
  background-color: black;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
