.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 250px;
  max-width: 100%;
  background-color: white;
  padding: 16px 16px;
}

.sidebar-link {
  margin-bottom: 16px;
}
.sidebar-link:hover {
  color: #704b70;
}

span {
  font-weight: 600;
  margin-bottom: 12px;
}

.sidebar-search-form {
  display: flex;
  max-width: 100%;
  border: 1px solid rgb(211, 198, 241);
  overflow: hidden;
  margin-bottom: 24px;
}
input[type="search"] {
  width: 100%;
  border-radius: 0px;
  border: none;
}

.sidebar-search-form > button {
  background-color: #704b70;
  border: none;
  color: white;
  box-shadow: none;
  padding: 10px;
  width: fit-content;
}
.fa-magnifying-glass {
  font-size: 14px;
}
